/* Custom CSS for styling the navbar */
.navbar {
    background-color: rgb(75, 223, 75) !important; /* Override Bootstrap's default background color */
}


.navbar-nav .nav-link {
    color: white !important; /* Override Bootstrap's default text color */
}

.navbar-brand {
    font-weight: bold;
}

.nav-item {
    display: inline-block; /* Öğeleri yan yana yerleştirir */
}

.nav-item:nth-last-child(-n+2) {
    float: right; /* Son iki öğeyi sağa yaslar */
}

.slogan {
    padding: 3rem 0;
    margin-bottom: 0;
    background-color: #ffff;
    background-image: url('path/to/your/image.jpg'); /* Resmin yolunu belirtin */
    background-size: cover; /* Resmin tam olarak kaplamasını sağlar */
    background-position: center; /* Resmin merkezde olmasını sağlar */
    text-align: center;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.slogan-text {
    font-size: 1.5rem !important; /* Yazı boyutu */
    font-style: italic; /* Eğik yazı */
    font-weight: 700; /* Kalın */
    font-family: Arial, Helvetica, sans-serif; /* Font ailesi */
    color: #0f0f0f; /* Yeşil renk */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Gölgelendirme */
}

.card {
  width: 18rem;
  margin-top: 10px;
  margin-left: 10px;
}

.card-img-top {
  height: 200px; /* Kartın resim yüksekliği */
  object-fit: cover; /* Resmin kart boyutuna göre oranlanması */
}

.card-body {
  height: 200px; /* Kartın içeriğinin yüksekliği */
  overflow: hidden; /* İçerik taşma durumunda gizleme */
}

.card-title,
.card-text,
.list-group-item,
.btn {
  white-space: nowrap; /* İçerik uzunluğuna göre satır sonu işareti eklenmesin */
  overflow: hidden; /* İçerik taşma durumunda gizleme */
  text-overflow: ellipsis; /* İçerik taşma durumunda ... görüntüleme */
  font-size: 14px;
}

.login-container {
  margin-left: 50px; /* Sağdan boşluk */
  margin-right: 50px; /* Soldan boşluk */
  background-color: white; /* Arka plan rengi */
  color: rgb(75, 223, 75); /* Metin rengi */
  padding: 20px; /* Container iç boşluk */
  max-width: 500px; /* Maksimum genişlik */
  margin: auto; /* Ortala */
  border: 2px solid rgb(75, 223, 75); /* Yeşil kenarlık */
  border-radius: 10px; /* Kenar yuvarlatma */
}

.form-label {
    color: rgb(75, 223, 75); /* Yeşil metin rengi */
}