<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<div class="slogan">
    <div class="container">
        <h1 class="slogan-text">Hayal Et, Ara, Bul.</h1>
    </div>
</div>

<div class="container">
    <form class="d-flex mt-3">
        <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
        <span><button class="btn btn-outline-success" type="submit">Ara</button></span>
    </form>
</div>
<br/>
<br/>
</body>
</html>
